---
layout: default
title: Become a sponsor
---
{% include header.html %}

<!-- Main -->
		<div class="row 150% normal-page">
			<div class="4u 12u$(medium)">
				<!-- Sidebar -->
				<section id="sidebar" class="sponsors">
					{% include sponsors-sidebar.html %}
				</section>
			</div>
			<div class="8u$ 12u$(medium) important(medium)">
				<article class="post sponsor-page">
					<header> 
						<div class="title">
							<h1>Become a sponsor</h1>
						</div>
					</header>
					<a href="#apply" class="image featured">
						<img src="/assets/images/studio_shot_4.jpg" alt="Panoramic picture of a studio setup with lights, video cameras and monitors">
					</a>
						<p>For the past seven consequtive years, we’ve held Exeter’s only grass-roots tech conference, a sell-out event which attracts local and national speakers across a broad range of themes for our ever expanding tech & digital community.</p>
						<p>We're a not-for-profit community interest company - your sponsorship monies go directly into helping us to put on events like this - we don't take a salary!</p>
						<blockquote>“Tech Exeter and Digital Exeter are at the heart of the tech community in this beautiful city, where innovation is supported by leading incubators like SETsquared” - Tech Nation</blockquote>
						<blockquote>“My organisation (NHS Digital) and myself needs to be more involved in the TechExeter scene, I think it is really great to see this stuff going on”</blockquote>
						<blockquote>“It's great that the Tech Exeter Conference has started from a grassroots level and is now a pull for developers from across the South West”</blockquote>

						<h3>Our packages</h3>
						<div class="grid-3col no-h-gutter sponsors">

							<div class="bronze">
							<h1>Sponsor</h1>
							<h2>£500 +VAT</h2>
								<ul>
								<li>Event tickets</li>
								<li>Logo and link on website</li>
								<li>Exhibition space in our communal area for popup banner and table</li>
								<li>Social media mentions - Twitter</li>
								<li>Distribute items in delegate bags</li>
								</ul>
							</div>
							<div class="silver">
							<h1>Track Sponsor</h1>
							<h2>£1,000 +VAT</h2>
								<ul>
								<li>Event tickets</li>
								<li>Logo and link on website</li>
								<li>Exhibition space in our communal area for popup banner and table</li>
								<li>Your popup banners and logo in our track rooms</li>
								<li>Social media mentions - Facebook, Twitter, Instagram</li>
								<li>Distribute items in delegate bags</li>
								<li>Logo and space in our printed programme</li>
								</ul>
							</div>
							<div class="gold">
							<h1>Main Stage Sponsor</h1>
							<h2>£2,000 +VAT</h2>
								<ul>
								<li>Event tickets</li>
								<li>Logo and link on website</li>
								<li>Exhibition space in our communal area for popup banner and table</li>
								<li>Prominant logo footage</li>
								<li>Your popup banners and logo at our main stage</li>
								<li>Social media mentions - Facebook, Twitter, Instagram, LinkedIn</li>
								<li>Distribute items in delegate bags</li>
								<li>Logo and space in our printed programme</li>
								</ul>
							</div>
							
							<div class="bronze continue">
								<ul>
									<li>Sponsors 1 reduced-cost ticket</li>
								</ul>
							</div>
							<div class="silver continue">
								<ul>
									<li>Sponsors 2 reduced-cost tickets</li>
								</ul>
							</div>
							<div class="gold continue">
								<ul>
									<li>Sponsors 4 reduced-cost tickets</li>
								</ul>
							</div>
							
							</div>

							<h3>Reduced Cost Tickets</h3>
							<p>Every sponsorship package contributes additional tickets into our reduced-cost ticket pool, giving students and those from low-income households easier access to our conference.</p>

							<hr/>	
							<h3>Supporter (£200)</h3>
							<p>
								Every supporter donation we receive will get you one event ticket, 
								plus it'll sponsor one of our reduced-cost tickets</p>
							<hr/>	
							<p id="apply">To find out more about any of these packages, please get in touch.</p>
							{% include contactform.html %}
						</article>

			</div>
