

<!-- Footer -->
<section id="footer">
  <ul class="icons">
    <li><a href="https://twitter.com/techexeter" target="_blank"><i aria-hidden="true" class="fab fa-twitter"></i><span class="label">Twitter</span></a></li>
    <li><a href="https://instagram.com/techexeter" target="_blank"><i aria-hidden="true" class="fab fa-instagram"></i><span class="label">Instagram</span></a></li>
    <li><a href="https://www.linkedin.com/company/tech-exeter" target="_blank"><i aria-hidden="true" class="fab fa-linkedin"></i><span class="label">LinkedIn</span></a></li>
    <li><a href="https://www.youtube.com/channel/UCmVsMwR292qS-aw46RCc6pQ" target="_blank"><i aria-hidden="true" class="fab fa-youtube"></i><span class="label">YouTube</span></a></li>
  </ul>
  <p class="copyright">&copy; <a href="https://techexeter.uk">TechExeter CIC</a>. All rights reserved. The TechExeter square logo is a registered trade mark of <a href="https://techexeter.uk">TechExeter CIC</a>.</p>
</section>
