<!-- About -->
<section id="sidebar">
  <section id="intro">
    <a href="{{site.url}}" class="logo">
      <img src="/assets//images/tech_exeter_highres_black.png" alt="TechExeter logo" />
      <img src="/assets//images/digital_exeter_highres_black.png" alt="Digital Exeter logo" />
    </a>
    <header>
      <h2>Community Edition</h2>
    </header>
    <h2>In-person conference<br/> University of Exeter<br/> 15th September 2022<br/>09.00 - 17.30 BST</h2>
    <p>Our tech+digital conference is back for 2022, themed around <strong>COMMUNITY</strong></p>
    <ul class="actions">
      <li><a href="/tickets.html" class="button"><i class="fas fa-ticket-alt fa-2x" aria-hidden="true"></i> Get Tickets</a></li>
    </ul>
  </section>

  <!-- Footer -->
    <section id="footer">
      <ul class="icons">
        <li><a href="https://twitter.com/techexeter"><i aria-hidden="true" class="fab fa-twitter"></i><span class="label">Twitter</span></a></li>
        <li><a href="https://instagram.com/techexeter"><i aria-hidden="true" class="fab fa-instagram"></i><span class="label">Instagram</span></a></li>
        <li><a href="https://www.linkedin.com/company/tech-exeter"><i aria-hidden="true" class="fab fa-linkedin"></i><span class="label">LinkedIn</span></a></li>
        <li><a href="https://www.youtube.com/channel/UCmVsMwR292qS-aw46RCc6pQ" target="_blank"><i aria-hidden="true" class="fab fa-youtube"></i><span class="label">YouTube</span></a></li>
      </ul>
      <p class="copyright">&copy; <a href="https://techexeter.uk">TechExeter CIC</a>. All rights reserved. The TechExeter square logo is a registered trade mark of <a href="https://techexeter.uk">TechExeter CIC</a>.</p>
    </section>
</section>