---
layout: default
title: Home
page_teaser_image: https://conference.techexeter.uk/images/preview_index.jpg
---
{% assign goldSponsors = site.sponsors | where: 'type', 'gold' %}
{% assign silverSponsors = site.sponsors | where: 'type', 'silver' %}
{% assign bronzeSponsors = site.sponsors | where: 'type', 'bronze' %}
<article class="post highlighted stats">
  <div class="columns">
    <section>
      <div><a href="speakers.html"><span>16</span> speakers</a></div>
    </section>
    <section>
      <div><a href="schedule.html"><span>2</span> tracks</a></div>
    </section>
    <section>
      <div><span>7<sup>th</sup></span> annual conference</div>
    </section>
    </div>
</article>

<article class="post">
  <header> 
    <div class="title">
      <h2><i class="fas fa-ticket-alt" aria-hidden="true"></i> TICKETS ON SALE NOW!</h2>
    </div>
  </header>
  <a href="/tickets.html" class="image featured">
    <img src="/assets/images/Tech-Exeter-2019-276.jpg" alt="Group picture taken of staff and attendees at the end of our 2019 conference">
  </a>
  <p>We have a team of awesome people bringing our multi-track conference back to the University of Exeter for 2022. Our seventh annual conference, we're celebrating the best in tech and digital from our amazing community.</p>
  <p>We've got some fantastic speakers from EDF Energy, Microsoft (xbox), Meta (Facebook), UK Hydrographic Office, Boomi and more - checkout the <a href="/schedule.html">full schedule</a>!</p>
    
    <div class="columns">
      <section>
        <i class="fas fa-comment" aria-hidden="true"></i>
        <h3>Great Talks</h3>
        <p>Local and National speakers across a wide range of tech and digital topics</p>
      </section>
      <section>
        <i class="fas fa-people-arrows" aria-hidden="true"></i>
        <h3>Networking</h3>
        <p>Meet friends old and new, make connections and help re-build our community</p>
      </section>
      <section>
        <i class="fas fa-play-circle" aria-hidden="true"></i>
        <h3>Every Session Recorded</h3>
        <p>Didn't catch something the first time round? Each session will be available for replay, so no FOMO!</p>
      </section>
      <section>
        <i class="fas fa-glass-cheers" aria-hidden="true"></i>
        <h3>After-party</h3>
        <p>Another reason to join us in-person!</p>
      </section>
    </div>

</article>

<article class="post highlighted">
  <header> 
    <div class="title">
      <h2><i class="fas fa-thumbs-up" aria-hidden="true"></i> Supported by</h2>
    </div>
  </header>
  <div class="columns sponsors">
        
    {% for sponsor in goldSponsors %}
    <section class="sponsors gold">
        <a href="{{ sponsor.externalUrl }}" target="_blank">
          <img src="/assets/images/sponsors/{{ sponsor.img }}" alt="{{ sponsor.name }} logo" title="{{ sponsor.text }}">
        </a>
        <h4>{{ sponsor.name }}</h4>
    </section>
    {% endfor %}
    {% for sponsor in silverSponsors %}
    <section class="sponsors silver">
        <a href="{{ sponsor.externalUrl }}" target="_blank">
          <img src="/assets/images/sponsors/{{ sponsor.img }}" alt="{{ sponsor.name }} logo" title="{{ sponsor.text }}">
        </a>
        <h4>{{ sponsor.name }}</h4>
    </section>
    {% endfor %}
    {% for sponsor in bronzeSponsors %}
    <section class="sponsors bronze">
        <a href="{{ sponsor.externalUrl }}" target="_blank">
          <img src="/assets/images/sponsors/{{ sponsor.img }}" alt="{{ sponsor.name }} logo" title="{{ sponsor.text }}">
        </a>
        <h4>{{ sponsor.name }}</h4>
    </section>
    {% endfor %}
    
  </div>
  <p>Find out more about sponsorship and how you can support our local tech  & digial community on our <a href="/become-a-sponsor.html">sponsorship page</a>.</p>
</article>

<article class="post">
  <header> 
    <div class="title">
      <h2><i class="fas fa-envelope" aria-hidden="true"></i> Signup to our mailing list</h2>
    </div>
  </header>
  <p id="contactform">Stay informed : join our low-frequency mailing list for all things TechExeter &amp; Digital Exeter</p>
  <div id="mc_embed_signup">
    <form action="https://techexeter.us13.list-manage.com/subscribe/post?u=b4eb19f31ed535a360131cde0&amp;id=0896f232b9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate container 50%" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll" class="row uniform 50%">
        
        <div class="8u 12u$(xsmall)">
          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Your Email Address" required aria-labelledby="contactform">
        </div>
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><label>Do not fill this field in, it's for robots <input type="text" name="b_b4eb19f31ed535a360131cde0_0896f232b9" tabindex="-1" value="" role="none"></label></div>
        <div class="4u$ 12u$(xsmall)"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button fit special"></div>
      </div>
    </form>
    </div>
</article>